# EditorConfig is awesome: https://EditorConfig.org

# Note that as of writing editorconfig can't be extended so this will need to be copy / pasta'd
# @see: https://github.com/editorconfig/editorconfig/issues/236

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
